<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                CERBERUS
            </a>
        </div>
        <div id="navbar" class="flex-row justify-between">
            <ul class="nav navbar-nav cerberus-nav flex-row align-center">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
            </ul>
            <ul class="nav navbar-nav cerberus-nav flex-row align-center">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fas fa-user"></i>
                            @User.GetDisplayName()
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a asp-area="" asp-controller="Account" asp-action="Profile">
                                    <i class="far fa-user-alt m-r-xs"></i>
                                    Profile
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Account" asp-action="Logout">
                                    <i class="far fa-power-off m-r-xs"></i>
                                    Sign Out
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    <li>
                        <a asp-area="" asp-controller="Account" asp-action="Login">Sign In</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Account" asp-action="Register">Sign Up</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>