@model LoginModel
@{
    ViewBag.Title = "Login";
    ViewBag.Settings = new LayoutSettings
    {
        IsContainerCentered = true,
        IsFooterVisible = false
    };
}

<div class="view-header">
    <div class="header-icon">
        <i class="fal fa-lock-alt" data-fa-transform="shrink-4"></i>
    </div>
    <div class="header-title">
        <h3>Login</h3>
        <small>
            Please enter your credentials to login.
        </small>
    </div>
</div>

<div class="panel panel-filled">
    <div class="panel-body">
        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <div class="form-group">
                <label class="control-label" asp-for="Email">E-Mail</label>
                <input type="text" asp-for="Email" placeholder="E-Mail" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Password">Password</label>
                <input type="password" asp-for="Password" placeholder="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="RememberMe">
                    <input type="checkbox" asp-for="RememberMe">
                    Remember Me
                </label>
            </div>
            <div class="form-group">
                <recaptcha/>
                <span id="recaptchaErrorMessage" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-accent">Login</button>
                <a class="btn btn-default" asp-action="Register">Register</a>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <recaptcha-script validation-message-element-id="recaptchaErrorMessage" />
}