@using Cerberus.Controllers
@using reCAPTCHA.AspNetCore.Templates
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    ViewBag.Settings = new LayoutSettings
    {
        IsContainerCentered = true,
        IsFooterVisible = false
    };
}

<div class="view-header">
    <div class="header-icon">
        <i class="fal fa-lock-alt" data-fa-transform="shrink-4"></i>
    </div>
    <div class="header-title">
        <h3>Login</h3>
        <small>
            Please enter your credentials to log in
        </small>
    </div>
</div>

<div class="panel panel-filled">
    <div class="panel-body">
        @using (Html.BeginForm(nameof(AccountController.Login), "Account", FormMethod.Post))
        {
            <div asp-validation-summary="All" class="alert alert-danger"></div>
            <div class="form-group">
                <label class="control-label" asp-for="Email">E-Mail</label>
                <input type="text" asp-for="Email" placeholder="E-Mail" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Password">Password</label>
                <input type="password" asp-for="Password" placeholder="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <input type="checkbox" asp-for="RememberMe">
                    <label asp-for="RememberMe">Remember Me</label>
                </div>
            </div>
            <div class="form-group">
                @(Html.Recaptcha<RecaptchaV2Checkbox>(RecaptchaSettings?.Value))
            </div>
            <div>
                <button type="submit" class="btn btn-accent">Login</button>
                <a class="btn btn-unimportant" asp-action="Register">Register</a>
            </div>
        }
    </div>
</div>