@model LoginModel
@{
    ViewBag.Title = "Login";
}

<div class="view-header">
    <div class="header-icon">
        @* ToDo: add icon, center form *@
        <i class="pe page-header-icon pe-7s-unlock"></i>
    </div>
    <div class="header-title">
        <h3>Login</h3>
        <small>
            Please enter your credentials to login.
        </small>
    </div>
</div>

<div class="panel panel-filled">
    <div class="panel-body">
        <form asp-action="Login" method="post">
            <div class="form-group">
                <label class="control-label" asp-for="Login">E-Mail</label>
                <input type="text" asp-for="Login" placeholder="E-Mail" title="Please enter your E-Mail" class="form-control">
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Password">Password</label>
                <input type="password" asp-for="Password" placeholder="Password" title="Please enter your password" class="form-control">
            </div>
            <div>
                <button type="submit" class="btn btn-accent">Login</button>
                <a class="btn btn-default" asp-action="Register">Register</a>
            </div>
        </form>
    </div>
</div>