@using Web.Controllers
@using reCAPTCHA.AspNetCore.Templates
@model RegisterViewModel

@{
    ViewBag.Title = "Register";
    
    var settings = new LayoutSettings
    {
        IsFooterVisible = false
    };
    
    settings.ActivateLibrary(Constants.Libraries.Select2);
    
    ViewBag.Settings = settings;
}

<div class="view-header">
    <div class="header-icon">
        <i class="fal fa-user" data-fa-transform="shrink-4"></i>
    </div>
    <div class="header-title">
        <h3>Register</h3>
        <small>
            Please fill these fields to register
        </small>
    </div>
</div>

<div class="panel panel-filled">
    <div class="panel-body">
        @using (Html.BeginForm(nameof(AccountController.Register), "Account", FormMethod.Post))
        {
            <div asp-validation-summary="All" class="alert alert-danger"></div>
            <div class="form-group">
                <label>Display Name</label>
                <input type="" asp-for="DisplayName" class="form-control" placeholder="Display Name">
                <span class="help-block small">
                    <div>Unique name that will be visible to everyone</div>
                    <span asp-validation-for="DisplayName" class="text-danger"></span>
                </span>
            </div>
            <div class="form-group">
                <label>E-Mail</label>
                <input type="text" asp-for="Email" class="form-control" placeholder="E-Mail">
                <span class="help-block small">
                    <div>Your E-Mail will be used as your login</div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </span>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" asp-for="Password" class="form-control" placeholder="Password">
                <span class="help-block small">
                    <div>Use strong password for your account safety</div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </span>
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Password">
                <span class="help-block small">
                    <div>Repeat your pasword</div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </span>
            </div>
            <div class="form-group">
                <label>Languages</label>
                <select asp-for="SelectedLanguages" class="form-control select2" placeholder="Selected Languages" multiple="multiple" asp-items="@(new SelectList(Model.Languages, "Id", "LocalName"))"></select>
                <span class="help-block small">
                    <div>Languages that will be displayed to you <i>(please pay attention to their ordering)</i></div>
                    <span asp-validation-for="SelectedLanguages" class="text-danger"></span>
                </span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <input type="checkbox" asp-for="AreRulesAccepted">
                    <label asp-for="AreRulesAccepted">I have read and accepted <a asp-controller="Page" asp-action="Rules" target="_blank">rules</a></label>
                </div>
                <div class="help-block small">
                    <span asp-validation-for="AreRulesAccepted" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                @(Html.Recaptcha<RecaptchaV2Checkbox>(RecaptchaSettings?.Value))
            </div>
            <div>
                <button class="btn btn-accent">Register</button>
                <a class="btn btn-unimportant" asp-action="Login">I already have an account</a>
            </div>
        }
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $(".select2").select2({
                dataAdapter: select2SelectOrderingDataAdapter()
            });
        });
    </script>
}