@{
    ViewBag.Title = "Not Found - 404";
}

<div class="view-header">
    <div class="header-icon">
        <i class="fal fa-times-circle fa-sm"></i>
    </div>
    <div class="header-title">
        <h3>404</h3>
        <small>
            Page Not Found
        </small>
    </div>
</div>

<div class="panel panel-filled">
    <div class="panel-body">
        <p class="m-t-xs">Sorry, but the page you are looking for is not found</p>
        <p class="m-b-none"><a asp-controller="Home" asp-action="Index">Go home</a></p>
    </div>
</div>
