@{
    ViewBag.Title = "Rules";
}

<div class="row">
    <div class="col-md-12">
        <h2>General Website Rules and Information</h2>
        <ol>
            <li>
                Common Rules
                <ol>
                    <li>Account can be used only by a single person</li>
                    <li>A single person can have no more than one account</li>
                    <li>Spamming is prohibited</li>
                    <li>Pornography is prohibited</li>
                    <li>Discrimination is not tolerated (including but not limited to racial, ethnic, gender based, etc.)</li>
                    <li>Physical threats and/or threats of disclosing real user's identity are prohibited</li>
                    <li>Real person's identity (including E-Mail) disclosure is strictly prohibited. If user has made his information public, republishing this data is also prohibited</li>
                    <li>
                        Advertisement
                        <ol>
                            <li>Any kind of advertisement requires administration approval</li>
                            <li>External links are allowed only to a common known resources</li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li>
                API Usage Information
                <ol>
                    <li>API key must remain <i>private</i> and <i>single user only</i>. If you believe it is compromised, change it immediately</li>
                    <li>Token is bound to your E-Mail, API key and IP address. If any of them changes or token expires, you should generate a new one</li>
                </ol>
            </li>
        </ol>
    </div>
</div>
