@{
    ViewBag.Title = "Rules";
}

<div class="row">
    <div class="col-md-12">
        <h2>General Website Rules and Information</h2>
        <ol>
            <li>
                General Rules
                <ol>
                    <li>Account can be used only by a single person</li>
                    <li>Multiaccount is prohibited</li>
                    <li>Spamming is prohibited</li>
                    <li>Pornography is prohibited</li>
                    <li>Discrimination is not tolerated (including but not limited to racial, ethnic, gender based, etc.)</li>
                    <li>Physical threats and/or threats of disclosing real user's identity are prohibited</li>
                    <li>Real person's identity (including E-Mail) disclosure is strictly prohibited. If user has made his information public, republishing this data is also prohibited</li>
                    <li>
                        Advertisement
                        <ol>
                            <li>Any kind of advertisement requires administration approval</li>
                            <li>External links are allowed only to common known resources (ex.: image and video sharing websites)</li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
    </div>
</div>
