@model object

@{
    ViewBag.Title = "Create Forum";
    var settings = new LayoutSettings
    {
        NavbarType = NavbarType.Admin,
        IsFooterVisible = false
    };
    ViewBag.Settings = settings;
}

<div class="row">
    <div class="col-lg-12">
        <div class="view-header">
            <div class="header-icon">
                <i class="fal fa-comments fa-sm"></i>
            </div>
            <div class="header-title">
                <h3>Forums</h3>
                <small>
                    Create new forum
                </small>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                TBD
            </div>
        </div>
    </div>
</div>