@model IEnumerable<ForumInfo>

@if (Model.Any())
{
    <ol class="dd-list">
        @{
            var listItemId = 1;
            foreach (var forumInfo in Model)
            {
                <li class="dd-item" data-id="@(listItemId++)">
                    <div class="dd-handle">
                        <span class="pull-right"> @forumInfo.ThreadCount thread(s) </span>
                        @forumInfo.Forum.Title
                    </div>
                    <partial name="Forums/ForumInfo" model="@forumInfo.Children"/>
                </li>
            }
        }
    </ol>
}