@model ForumSettingsViewModel

@{
    ViewBag.Title = "Forum Settings";
    var settings = new LayoutSettings
    {
        NavbarType = NavbarType.Admin,
        IsFooterVisible = false
    };
    settings.LibraryManager.Library(Constants.Libraries.NestableJs).Activate();
    ViewBag.Settings = settings;
}

<div class="row">
    <div class="col-lg-12">
        <div class="view-header">
            <div class="header-icon">
                <i class="fal fa-comments fa-sm"></i>
            </div>
            <div class="header-title">
                <h3>Forums</h3>
                <small>
                    List of existing forums
                </small>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <div class="panel">
            <div class="panel-body">
                <div class="dd" id="nestable">
                    <partial name="Forums/_ForumInfo" model="@Model.ForumTree"/>
                </div>
                <div id="saveReminder" class="alert alert-danger m-t" style="display: none">
                    <i class="fas fa-exclamation-triangle"></i>
                    You have unsaved changes
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="panel panel-filled">
            <div class="panel-heading">
                Control Buttons
            </div>
            <div class="panel-body flex-column">
                <a class="btn btn-accent" asp-action="CreateForum">
                    <div class="pull-left">
                        <i class="fas fa-file"></i>
                    </div>
                    Create New
                </a>
                <form class="flex-column" method="post" asp-action="SaveForums">
                    <input id="ForumHierarchy" name="ForumHierarchy" style="display: none"/>
                    <button type="submit" class="btn btn-accent m-t-sm">
                        <div class="pull-left">
                            <i class="fas fa-save"></i>
                        </div>
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var forumHierarchy = '';
    var originalForumHierarchy = '';
    var isSaved = true;
    
    $(document).ready(function () {
        $('#nestable').nestable({
            group: 1
        }).on('change', updateForumHierarchy);
        
        updateForumHierarchy($('#nestable'));
    });
    
    function updateForumHierarchy(e) {
        var prevForumHierarchy = forumHierarchy;
        var list = e.length ? e : $(e.target);
        forumHierarchy = window.JSON.stringify(list.nestable('serialize'));
        $('#ForumHierarchy').val(forumHierarchy);
        if (forumHierarchy !== prevForumHierarchy) {
            if (prevForumHierarchy === '' && originalForumHierarchy === '') {
                originalForumHierarchy = forumHierarchy;
            }
            else {
                isSaved = forumHierarchy === originalForumHierarchy;
            }
        }
        displaySaveReminder();
    };
    
    function displaySaveReminder() {
        isSaved
            ? $('#saveReminder').hide()
            : $('#saveReminder').show();
    }
    
    function switchForumActivation(id) {
        var el = $('.dd-item[data-id=' + id + ']');
        var isEnabled = el.data('enabled') === 'True';
        el.data('enabled', isEnabled ? 'False' : 'True');
        el.children('a.badge').first().html(isEnabled
            ? '<i class="fal fa-eye text-accent"></i> <span>Activate</span>'
            : '<i class="fal fa-eye-slash text-danger"></i> <span>Deactivate</span>');
        
        updateForumHierarchy($('#nestable'));
    }
</script>